.country-details {
  display: flex;
  justify-content: space-between;
}

.country-flag-image-container img {
  width: 540px;
  height: 340px;
}

.country-info {
  margin: 20px;
  line-height: 2;
  width: 100%;
}

.country-metadata {
  display: flex;
  flex-flow: column wrap;
  max-height: 180px;
}

.property-label {
  font-weight: 600;
}

.border-countries {
  position: relative;
  display: flex;
  /* flex-wrap: wrap; */
}

.border-countries-buttons {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  top: -5px;
}

.border-countries-buttons:before {
  content: "";
  width: 140px;
}

.border-country-button-container {
  padding: 5px;
}

.border-country-button {
  margin: 0;
}

@media (max-width: 468px) {
  .back-button {
    margin-left: 20px;
  }

  .country-details {
    flex-direction: column;
    align-items: center;
  }

  .country-flag-image-container img {
    width: 90vw;
    height: auto;
  }

  .country-info {
    padding: 20px;
  }

  .country-metadata {
    max-height: none;
  }
}
